
{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- <header>
   <link rel="stylesheet" href="/stylesheets/style.scss" />
</header> --}}

<div class="header-wrapper">

<div class="text-wrapper" >

<h1 >CINEMA <br>Ironhack</h1>
<a href="/movies">check the movies !</a>

</div>


</div> 

