<h1>ironhack Cinema</h1>
<p>Click on the movie to check the showtimes</p>
<div>
  {{#each movies}}
  <dir>
    <img src="{{this.image}}" alt="">
    <h4> {{this.title}} </h4>
    <a href="/movie/{{this.id}}">see more</a>
  </dir>
  {{/each}}
</div>